.btnFavs {
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  background-color: #008000;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.btnFavs:hover {
  color: white;
  background-color: #05b405;
}
