.favsContainer{
    border: 1px solid black;
    width: 80%;
    height: 74.1vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 40px;
}
.titleFavs{
    margin: auto;
}
.favsCards{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
