.GoogleMapPlacesSearch {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Columnas{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    gap: 15px;
}

.OpcionesAdress {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p.SearchBox {
    display: flex;
    width: 100%;
    justify-content: center;
}

.BoxPasarela{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}

.Pasarela{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: red;
    width: 1200px;
    height: 800px;
}

.Adress{
    width: 300px;
    display: flex;
}
