.containerCreate{
    margin: auto;
    margin-top: 50px;
    width: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    border: 3px solid var(--glow-color);
    border-radius: 5px;
    width: 30%;
    height: 73.4vh;
    background-color: var(--glow-color);
    margin-bottom: 10px;
    box-shadow: 0 0 1em .25em var(--btn-color),
           0 0 4em 1em var(--glow-spread-color),
           inset 0 0 .75em .25em var(--btn-color);
}
.containerCreate form, select{
    color: grey;
}
.l__form__input-field {
  margin: 25px 0;
  position: relative;
  height: 43px;
  width: 100%;
}

.l__form__input-field input {
  width: 100%;
  height: 100%;
  border: 1px solid silver;
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  color: rgb(94, 94, 94);
  border-radius: 3px;
  font-family: 'Poppins', cursive;
  font-weight: 300;
}

.l__form__input-field label {
  position: absolute;
  top: 10%;
  transform: translateY(-40%);
  left: 15px;
  pointer-events: none;
  color: gray;
  font-size: 1rem;
  transition: 0.4s;
}
.l__form__input-field:focus ~ label {
  transform: translateY(-45px);
  font-size: 0.9rem;
  color: grey;
}
 .l__form__input-field:focus label{
  transform: translateY(-45px);
  font-size: 0.9rem;
  color: grey;
}  
.l__form__input-field:valid{
  transform: translateY(-45px);
  font-size: 0.9rem;
  color: grey; 
 }   
.fieldPrice{
    margin-top: 15px;
}
.error{
    color: red;
    margin-top: 35px;;
    position: absolute;
    font-size: .7em;
}
/* input:focus ~ label,
input:valid ~ label {
  transform: translateY(-45px);
  font-size: 0.9rem;
  color: gray;
} */