.containerCreate {
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  align-content: space-around;
  border: 3px solid var(--glow-color);
  border-radius: 5px;
  width: 40%;
  height: 73.4vh;
  background-color: var(--glow-color);
  margin-bottom: 10px;
  box-shadow: 0 0 1em .25em var(--btn-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--btn-color);
}

.containerCreate input,
form,
select {
  border-radius: 5px;
  color: rgb(152, 40, 204);

}

.containerCreate select {
  border: 1px solid rgb(152, 40, 204);
}

.containerCreate form {
  margin: auto;
}

.titleCreate {
  margin-bottom: -11px;
  color: var(--glow-spread-color);
  text-shadow: 1px 2px 3px rgb(88, 1, 122);
}

.formCreateProduct {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.l__form__input-field {
  margin: 25px 0;
  position: relative;
  height: 35px;
  width: 100%;
  border-radius: 5px;
}

.l__form__input-field input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(152, 40, 204);
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  color: rgb(152, 40, 204);
  border-radius: 7px;
  font-family: 'Poppins', cursive;
  font-weight: 300;
}

.l__form__input-field label {
  position: absolute;
  top: 10%;
  transform: translateY(-40%);
  left: 15px;
  pointer-events: none;
  color: rgb(152, 40, 204);
  font-size: 1rem;
  transition: 0.4s;
}

.l__form__input-field:focus~label {
  transform: translateY(-35px);
  font-size: 0.7rem;
  color: rgb(152, 40, 204);
}

.l__form__input-field:valid {
  transform: translateY(-45px);
  font-size: 0.7rem;
  color: rgb(152, 40, 204);
}

.fieldPrice {
  margin-top: 15px;
}

.error {
  color: red;
  margin-top: 45px;
  ;
  position: absolute;
  font-size: .7em;
}

/* input:focus ~ label,
input:valid ~ label {
transform: translateY(-45px);
font-size: 0.9rem;
color: gray;
} */





.l__form__input-field2 {
  margin: 24px 0;
  position: relative;
  height: 43px;
  width: 100%;
}

.l__form__input-field2 input {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(152, 40, 204);
  padding-left: 15px;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  color: rgb(152, 40, 204);
  border-radius: 3px;
  font-family: 'Poppins', cursive;
  font-weight: 300;
}


.l__form__input-field2 label {
  position: absolute;
  top: 10%;
  transform: translateY(-40%);
  left: 15px;
  pointer-events: none;
  color: rgb(152, 40, 204);
  font-size: 1rem;
  transition: 0.4s;
  transform: translateY(-40px);
}

.l__form__input-field2:focus~label {
  transform: translateY(-40px);
  font-size: 1rem;
  color: rgb(152, 40, 204);
}

.l__form__input-field2:valid {
  transform: translateY(-45px);
  font-size: 1rem;
  color: rgb(152, 40, 204);
}

.SelectCreate {
  margin-bottom: 0;
  margin-top: 25px;
}

.todosCampos {
  margin-top: 40px;
  color: rgb(255, 0, 166);
  font-weight: bold;
  font-size: small;
  text-align: center;
}

.fieldCreate {
  padding: 10px;
  border: 1px solid rgb(152, 40, 204);
}

.buttonCreateCategory {
  margin-left: 15px;
}

#txtCreate {
  margin-top: 25px;
  height: 50px;
  border: 1px solid rgb(152, 40, 204);
}

.select {
  padding-bottom: 10px;
}

@media screen and (max-width: 1366px) {
  .containerCreate {
    margin: auto;
    margin-top: 20px;
    width: 32%;
    height: 70.4vh;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }

  .formCreateProduct {
    width: 55%;
  }

  .l__form__input-field {
    margin: auto;
    margin-top: 15px;
  }

  .l__form__input-field input {
    width: 100%;
    height: 80%;
    padding-left: 0px;
    font-size: .7rem;
    font-weight: 300;
  }

  .select {
    padding-bottom: 1px;
  }

  #txtCreate {
    margin-top: 43px;
    height: 30px;
  }

  #fileInput {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    margin-bottom: -35px;
  }

  .todosCampos {
    margin-top: 0px;
  }

  .label-form {
    margin-top: -15px;
    font-size: .8em !important;
  }

  .label-formTxt {
    margin-top: 15px;
    font-size: .8em !important;
  }
}

/*----------Media Queries (HIGH DEVICES) ----------*/
@media screen and (min-width: 2048px) {}
