.virtualBody{
    position: relative;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.virtualBody2 {
    display: block;
    margin: 10px;
    width: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
  }