.BoxPasarela {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    height: 80.1vh;
}
.Pasarela {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin-top: 130px;
    margin-bottom: 5%;
    background-color: transparent;
    border-radius: 15px;
    -webkit-box-shadow: 5px 5px 50px 5px #000000;
    box-shadow: 5px 5px 40px -4px #000000;
    width: 70%;
    height: 65vh;
    align-items: center;
    gap: 10px;
}

.buttonContinue {
    width: 160px;
    margin: auto;
    margin-top: 539px;
    margin-left: 300px;
    position: absolute;
}

.buttonPreview {
    position: absolute;
    bottom: 5px;
    left: 5px;
}
/* .css-1kvipzo{
    
} */
.navMaps, .ListaPasarela {
    position: absolute;
    margin-top: 60px;
    margin-left: auto;
    width: 60%;
    display: flex;
    gap: 135px;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 5px;
    -webkit-box-shadow: 5px 5px 50px 5px #000000;
    box-shadow: 5px 5px 40px -4px #000000;
    backdrop-filter: blur(3px);
}

#LisPasarelaSelect {
    background-color: rgb(204, 131, 228);
    padding: 15px;
    border-radius: 5px;
}
