.componentContainer {
  min-height: 75vh;
}

.container {
  margin: 20px 10px;
  padding: 15px;
}

.btnPayPasarela {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  width: 750px;
  margin-bottom: 15px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  background-color: #008000;
  color: white;
  border: none;
  font-size: 1.2rem;
}

.btnPayPasarela:hover {
  background-color: #05b405;
}
