.mainContainer {
  padding: 35px;
  min-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containCarry {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paragraph {
  padding: 20px;
  border-radius: 15px;
  background-color: #343a40;
  color: white;
  font-size: 2rem;
}

.PriceTotal {
  height: 100px;
  border-radius: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
  background-image: url("../image/FondoNavBar.jpg");
  background-repeat: no-repeat;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  letter-spacing: 1.1px;
}

.PriceTotal p {
  margin-top: 0;
}

.buttonPriceTotal {
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  background-color: #008000;
  color: white;
  border-radius: 10px;
  border: none;
  font-size: 1.4rem;
  letter-spacing: 0.8px;
  font-weight: bold;
}

.buttonPriceTotal:hover {
  background-color: #02d302;
}
