.card {
    margin: auto;
	width: 350px;
	height: 450px;
	border-radius: 10px;
	padding: 5px;
	box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
	background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
	--glow-color: rgb(217, 176, 255);
	--glow-spread-color: rgba(191, 123, 255, 0.781);
	--enhanced-glow-color: rgb(231, 206, 255);
	--btn-color: rgb(100, 61, 136);
}
.card__content {
    margin: auto;
    background: rgba(5, 6, 45, 0.423);
    color: white;
    border-radius: 0px 0px 17px 17px;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
    padding-top: 25px;
    padding-left: 15px;
    padding-right: 15px;
    backdrop-filter: blur(10px);
    text-shadow: 0 0 1em var(--glow-color);
}
.containerImgCard{
    height: 30vh;    
}
.imgCard{
    border-radius: 10px;
    width: 100%;
}
.linkCard{
    text-decoration: none;    
}
